@model Demo_test_app.Models.Application

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Добавление заявки";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApplicationAdd</title>
</head>
<body>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplicationAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameEquipment" class="control-label">Название оборудования</label>
                <input asp-for="NameEquipment" class="form-control" />
                <span asp-validation-for="NameEquipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTypeProblem" class="control-label">Тип проблемы</label><br/>
                <select asp-for="IdTypeProblem" class="form-select" >
                    @foreach (var item in ViewBag.Problems)
                    {
                        <option value="@item.IdTypeProblemt">@item.Name</option>
                    }
                </select>
                    <span asp-validation-for="IdTypeProblem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Статус заказа</label>
                <select asp-for="Status" class="form-select">
                    <option>выполнено</option>
                    <option>в работе</option>
                    <option>в ожидании</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameClient" class="control-label">ФИО Клиента</label>
                <input asp-for="NameClient" class="form-control" />
                <span asp-validation-for="NameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Стоимость</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label">Назначенный работник</label><br/>
                <select asp-for="IdEmployee" class="form-select">
                    @foreach (var item in ViewBag.Employees)
                    {
                        <option value="@item.IdUser">@item.FullnameUser</option>
                    }    
                </select>
                    <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTypeEquipment" class="control-label">Тип оборудования</label><br/>
                <select asp-for="IdTypeEquipment" class="form-select">
                    @foreach(var item in ViewBag.Equipment)
                        {
                            <option value="@item.IdTypeEquipment">@item.Name</option>
                        }
                </select>
                    <span asp-validation-for="IdTypeEquipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Серийный номер</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать заявку" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
