@model IEnumerable<Demo_test_app.Models.Application>

@{
    ViewData["Title"] = "Заявки";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <div>
            <label>Поиск: </label>
            <input type="text" name="search"/>
        </div>
    </div>
    @if(ViewBag.IsDisp != null)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    else{
        <p>Pashalka</p>
    }
    
    <table class="table">
    <thead>
        <tr>
            <th>
                Название оборудования
            </th>
            <th>
                Тип проблемы
            </th>
            <th>
                Комментарий
            </th>
            <th>
                Статус
            </th>
            <th>
                ФИО Клиента
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Исполнитель
            </th>
            <th>
                Этап выполнения
            </th>
            <th>
                Тип оборудования
            </th>
            <th>
                Серийный номер
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTypeProblemNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmployeeNavigation.FullnameUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTypeEquipmentNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "ApplicationEdit", new { id=item.IdApplication }) |
                @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
            }
    </tbody>
</table>
</body>
</html>
